/* @font-face{ 
	font-family: 'Lane';
	src: url('../fonts/lane/LANENAR_-webfont.eot');
	src: url('../fonts/lane/LANENAR_-webfont.eot?iefix') format('eot'),
	     url('../fonts/lane/LANENAR_-webfont.woff') format('woff'),
	     url('../fonts/lane/LANENAR_-webfont.ttf') format('truetype'),
	     url('../fonts/lane/LANENAR_-webfont.svg#webfont') format('svg');
} */

body {
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Lane', sans-serif; */
 
}
.admin-area {
    /* background-color: dimgray; */

    background-color: #ececec;
}

.main-area {
   background-color:#ececec;
}

.copy-link {
    cursor: pointer;
}

/* navbar and gradient backgrounds */


.bg-custom {
    background-color: #212529;
}

.green-btn:hover, .red-panel, .bg-gradient-red, .red-btn {
    background: rgb(173,33,46);
background: linear-gradient(90deg, rgba(173,33,46,1) 0%, rgba(220,53,69,1) 50%, rgba(255,93,108,1) 100%);

color: #fff;
}

.bg-gradient-green, .green-btn {
    background: rgb(34,121,54);
background: linear-gradient(90deg, rgba(34,121,54,1) 0%, rgba(40,167,69,1) 50%, rgba(40,215,80,1) 100%);

color: #fff;
}

.bg-gradient-green:hover {
    color: #fff;
}

/* main panel and buttons */


.bg-gradient-blue, .head-title {
    background: rgb(39,60,154);
    background: linear-gradient(90deg, rgba(39,60,154,0.9500000683867297) 0%, rgba(47,93,152,1) 42%, rgba(94,140,221,1) 100%);
}


.red-panel, .border-sm, .red-btn, .green-btn {
    border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
}

.head-panel, .main-button, .main-btn {
    background: rgb(39,60,154);
    background: linear-gradient(90deg, rgba(39,60,154,0.9500000683867297) 0%, rgba(47,93,152,1) 42%, rgba(94,140,221,1) 100%);
    
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;

color:#fff;


}

.main-button:hover, .main-btn:hover, .red-btn:hover {
    color:#71dd5e;
}

/* .green-btn:hover {
    background: rgb(39,60,154);
    color:#71dd5e;
} */

.main-card {

    -webkit-box-shadow: -1px 5px 9px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 5px 9px 0px rgba(0,0,0,0.75);
box-shadow: -1px 5px 9px 0px rgba(0,0,0,0.75);

}

.boxed {
    -webkit-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
}


/* ... */

@media (min-width: 768px) {

    .home-icons {
        height:75px;
        width:75px;
    }

}



@media (max-width: 768px) {

    .home-icons {
        height:45px;
        width:45px;
    }

}