/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

/*
orange: ff8b38
yellow: ffb806
*/

body {
	background-color:#000;
	font-family: 'Montserrat', sans-serif;
}

/* General */

.asisp-gold {
	background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.asisp-text {
	color:#b58f6a !important;
}

.asisp-gray {
	color:#a5a5a5 !important;
}

.asisp-link-dark {
	color:#fff;
}
.asisp-link-dark:hover {
	color:#b58f6a !important;
}

.text-white {
	color:#fff !important;
}

/* Navbar Links */
#primary-menu ul li>a {
	color:#a5a5a5 !important;
}

.nav-link {
	padding:0px;
}

#primary-menu ul li>a, .nav-link a {
	color: #fff !important;
}

#primary-menu ul li>a:hover, .nav-link a:hover {
	color:#b58f6a !important;
};

/* Header */
.asisp-header {
	background:#000 !important;
}

#header.sticky-header #header-wrap { 
	background-color:#000 !important;
} 

#header.sticky-header #header-wrap, #header.full-header.border-full-header.sticky-header #header-wrap {
	border-bottom-color: #000;
}

#header.full-header {
	border-bottom-color: #000;
} 

#header.full-header:not(.border-full-header):not(.sticky-header) #header-wrap {
    border-bottom: 0;
}


/* sections */

.heading-top {
	position: relative;
}

.heading-top h1 {
	font-size:26px;
	color: #EEE;
}

.heading-divider {
	max-width:200px;
	border-top: 5px solid #b58f6a;
	margin-bottom: 2rem;
}

.img-col {
	display:flex;
	justify-content: flex-end;
}

.img-col img {
	margin-right:1 rem;
}

.main-section {
	max-width:700px;
}

/* Social media block */

.social-media-block {

}

/* Buttons */

.btn-asisp {
	border:2px solid #b58f6a;
	/* transition: all 0.3s ease-in-out !important; */
	background-color:#b58f6a;
	color:#fff;
}

.btn-asisp:hover {
	border:2px solid #b58f6a;
	color:#fff;
	
}

/* ============== 
	 Footer 
*/
footer, #footer, #copyrights, .gci-dark, .asisp-dark  {
	background-color:#000;
	color: #fff;
}
.widget_links li a {
 	color: #fff;
}

footer h4 p {
	opacity:0.7
}

.copyright-links a {
	color:#fff !important;
}

.asisp-text, .copyright-links a:hover, .widget_links li a:hover {
	color:#b58f6a !important;
}
/* ============== 
	End Footer 
*/




/* Dividers */

.divider-gray {
	border-top: 3px solid gray;
}

.divider-asisp {
	border-bottom: 3px solid #b58f6a;
}

.gci-divider {
	height:20px;
	background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}

.gci-divider-lg {
	height:40px;
	background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}

.gci-divider-xl {
	height:60px;
	background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
	/* background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
	(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%); */
}

.gci-field {
	background-color:#b58f6a;
}

.gci-list li {
	margin-bottom: 5px;
	padding:5px;
}

.str-text {
	color: #fff;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
 }

.main-container {
	border-top: 5px solid rgba(0,0,0,0.2);
}

.white-space {
	background-color:#fff;
	color:#000;
}

.slider-caption h2 {
	text-transform:uppercase !important;
}

.slider-caption p {
	text-transform:uppercase !important;
}


.heading-block h4 {
	font-size: 20px;
	color: #EEE;
	/* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
	font-weight: 700;
	
}

/* Section background and elements */

.bg-cover {
	background-size: cover;
}

.bg-white {
	background-color:#fff;
}

.bg-gray {
	background-color:#eee;
}

.bg-gray-2 {
	background-color:#F5F5F5;
}

.str-li {
	margin-bottom:10px;
}


.center-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.image-panel {
	background: rgba(0,0,0,.4);	
	padding:2rem;
}




@media (min-width: 768px) {

	.heading-top {
		top: 25%;
		margin-right: 20%;
		background: rgba(0,0,0,.4);
	}

	.heading-home-top {
		padding: 35px 40px 35px 35px;
		background: rgba(0,0,0,.4);	
	}

	.heading-home-top h1 {
		font-size: 40px;
		color: #EEE;
		text-shadow: -1px -1px 0 #eee, 1px -1px 0 #eee, -1px 1px 0 #eee, 1px 1px 0 #eee;
		/* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
		
	}

	.heading-text {
		max-width: 50%;
	}

	
}


@media (max-width: 768px) {

	.heading-top {
		top:3rem;
		margin-left: 1rem;
    	margin-right: 1rem;
	}

	.heading-home-top {
		display:flex;
		align-items:center;
		justify-content:center;
		padding: 5px 7px 5px 5px;
		background: rgba(0,0,0,.2);	
	}

	.heading-divider {
		display:none;
	}

	.home-top-logo {
		display:none;
	}

	.heading-top h1 {
		font-size:22px;
		margin:0;
	}
	
	.heading-top h4 {
		font-size:14px;
	}

	.heading-text {
		display:none;
	}
}



@media (max-width: 575.98px) {
	.heading-top {
		top:1.5rem;
		margin-left: 1rem;
    	margin-right: 1rem;
	}

	
	.heading-top h1 {
		font-size:18px;
		margin:0;
	}

}
